:root {
  --main-color: black;
  --background-color: #FFFEFB;
  --accent-color: #FFD00E;
  --secondary-accent-color: linear-gradient(134deg, #FFDF00 -7.01%, #FFB800 109.07%);
  /* Fonts */
  --anima-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.charity, .clients__title, .drupal, .we__title, .best-company, .task, .hero, .header {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 75px;
  padding-right: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  padding: 0;
  margin: 0;
}

button,
a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  border: 0;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../../font/ProximaNova-Regular.eot") format("embedded-opentype"), url("../../font/ProximaNova-Regular.woff2") format("woff2"), url("../../font/ProximaNova-Bold.woff") format("woff"), url("../../font/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../../font/ProximaNova-Semibold.eot") format("embedded-opentype"), url("../../font/ProximaNova-Semibold.woff2") format("woff2"), url("../../font/ProximaNova-Black.woff") format("woff"), url("../../font/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../../font/ProximaNova-Bold.eot") format("embedded-opentype"), url("../../font/ProximaNova-Bold.woff2") format("woff2"), url("../../font/ProximaNova-Bold.woff") format("woff"), url("../../font/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../../font/ProximaNova-Extrabld.eot") format("embedded-opentype"), url("../../font/ProximaNova-Extrabld.woff2") format("woff2"), url("../../font/ProximaNova-Extrabld.woff") format("woff"), url("../../font/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Black.eot");
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("../../font/ProximaNova-Black.eot") format("embedded-opentype"), url("../../font/ProximaNova-Black.woff2") format("woff2"), url("../../font/ProximaNova-Black.woff") format("woff"), url("../../font/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "Proxima Nova", sans-serif;
  background-color: var(--background-color);
  color: var(--main-color);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
body.no-scroll {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 153px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-right: 115px;
}

.nav__item:not(:last-child)::after {
  content: "";
  height: 20px;
  margin-left: 50px;
  border-right: 1px solid;
  opacity: 0.1;
}

.nav__link {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  -webkit-transition: var(--anima-fast);
  transition: var(--anima-fast);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-right: 40px;
}

.social__icon {
  width: 35px;
  height: 35px;
}

.contacts__days {
  font-size: 16px;
  line-height: 1.25;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.25;
}

.contacts__icon {
  width: 24px;
  height: 24px;
}

.hero {
  padding-top: 100px;
  padding-bottom: 47px;
  background-image: url("/images/hero/Group.svg"), url("/images/hero/hero-circle-big.svg"), url("/images/hero/Vector.svg"), url("/images/hero/hero-circle-small-2.svg"), url("/images/hero/hero-circle-small.svg");
  background-repeat: no-repeat;
  background-position: 93% 65%, 0% 3.86%, 100% 53%, 1094px 513px, 61.98% 3.86%;
}

.hero__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.hero__title {
  margin-bottom: 20px;
  font-size: 90px;
  font-weight: 900;
  line-height: 1.1;
}

.hero__button {
  display: inline-block;
  margin-bottom: 211px;
  border-radius: 5px;
  background: var(--secondary-accent-color);
  margin-top: 40px;
  padding: 20px 82px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}

.hero__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  margin-bottom: 7px;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid;
}

.circle-accent {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.hero__more {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
}

.hero__arrow {
  margin: 0 auto;
  margin-top: 16px;
  width: 18px;
  height: 28px;
}

.task {
  padding-top: 100px;
  padding-bottom: 100px;
}

.task__title {
  margin-bottom: 50px;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.25;
}

.task__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.task__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  font-size: 20px;
  line-height: 1.5;
}

.task__text--bolt {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.best-company {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--secondary-accent-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.best-company__title {
  margin-bottom: 50px;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.25;
}

.best-company__text {
  width: 870px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 28.5px;
  font-size: 20px;
  line-height: 1.5;
}

.best-company__text--bolt {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.25;
}

.best-company__text--semibolt {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.best-company__img {
  margin: 0 auto;
}

.we {
  padding-top: 100px;
}

.we__wrapper {
  width: 1920px;
  position: relative;
  margin-bottom: 50px;
  background-image: url("/images/We/around-left.svg"), url("/images/We/around-rigth.svg");
  background-repeat: no-repeat;
  background-position: 43% 43%, 56.3% 43%;
}

.we__title {
  margin-bottom: 50px;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.25;
}

.we__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.item__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}

.item-left__wrapper {
  text-align: left;
}

.item-rigth__wrapper {
  text-align: right;
}

.item__text {
  font-size: 16px;
  line-height: 1.25;
}

.text__bolt {
  font-weight: 700;
}

.img__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--secondary-accent-color);
}

.item__img {
  margin: auto;
}

.we__block--1 {
  margin-bottom: 61px;
  display: grid;
  grid-template-columns: 605px 605px;
  gap: 257px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.we__block--2 {
  margin-bottom: 51px;
  display: grid;
  grid-template-columns: 605px 605px;
  gap: 523px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.we__block--3 {
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: 605px 605px;
  gap: 589px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.we__block--4 {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 605px 605px;
  gap: 523px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.we__block--5 {
  display: grid;
  grid-template-columns: 605px 605px;
  gap: 258px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper .we__arrow-left {
  top: 38px;
  left: 47px;
}

.swiper .we__arrow-rigth {
  right: 37px;
}

.circles__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 160px;
  left: 726px;
}

.circle__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 243px;
  margin-bottom: 56px;
}

.circle__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 368px;
  margin-bottom: 75px;
}

.circle__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 415px;
  margin-bottom: 76px;
}

.circle__4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 369px;
  margin-bottom: 56px;
}

.circle__5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 243px;
}

.logo__around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 22%;
  left: 40%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFCD01;
  width: 370px;
  height: 370px;
  border-radius: 50%;
}

.logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 236.786px;
  height: 236.786px;
  background: white;
  border-radius: 50%;
}

.logo__img {
  width: 131px;
  height: 136px;
}

.swiper .swiper-slide {
  width: auto;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  display: none;
}

.swiper .swiper-button-prev {
  position: absolute;
  width: 56px;
  height: 53px;
}

.swiper .swiper-button-next {
  width: 56px;
  height: 53px;
}

.swiper .my__wrapper {
  width: 1920px;
  padding-left: 75px;
  padding-right: 75px;
}

.drupal {
  padding-top: 100px;
}

.drupal__title {
  margin-bottom: 70px;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.25;
}

.drupal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.drupal__item {
  padding: 20px 30px 30px 30px;
  width: 570px;
  height: 211px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid rgba(69, 77, 82, 0.05);
  background: #FFF;
  background-image: url("../../images/drupal/drupal-bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  -webkit-transition: var(--anima-fast);
  transition: var(--anima-fast);
}
.drupal__item:hover, .drupal__item:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 221, 0, 0.1)), to(rgba(255, 184, 0, 0.1)));
  background: linear-gradient(rgba(255, 221, 0, 0.1), rgba(255, 184, 0, 0.1));
}

.drupal__img {
  margin-bottom: 15px;
}

.drupal__subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}

.drupal__text {
  font-size: 16px;
  line-height: 1.25;
}

.drupal__bolt {
  font-weight: 700;
}

.clients {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

.clients__title {
  margin-bottom: 50px;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.25;
}

.swiper .cliets__item {
  width: 270px;
  height: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4.392px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(75, 85, 89, 0.1);
          box-shadow: 0px 0px 20px 0px rgba(75, 85, 89, 0.1);
}

.swiper .arrow__left {
  left: 47px;
}

.swiper .arrow__rigth {
  right: 47px;
}

.charity {
  padding-top: 100px;
  padding-bottom: 100px;
}

.charity__title {
  margin-bottom: 76px;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.25;
}

.charity__content {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 749px 1fr;
  grid-template-rows: 467px;
  gap: 143px;
}

.charity__text {
  font-size: 20px;
  line-height: 1.5;
}

.charity__text--bolt {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.charity__img {
  position: relative;
}

.charity__img--1 {
  position: absolute;
  z-index: 3;
  right: 103px;
  bottom: 0;
  border-radius: 5px;
}

.charity__img--2 {
  position: absolute;
  z-index: 2;
  top: 75px;
  bottom: 45px;
  border-radius: 5px;
}

.charity__img--3 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  border-radius: 5px;
}

.charity__list {
  display: grid;
  grid-template-columns: 570px 570px 570px;
  grid-template-rows: 257px 257px;
  gap: 30px;
}

.charity__item {
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(75, 85, 89, 0.1);
          box-shadow: 0px 0px 20px 0px rgba(75, 85, 89, 0.1);
  cursor: pointer;
  -webkit-transition: var(--anima-fast);
  transition: var(--anima-fast);
}
.charity__item:hover,
.charity__item :focus {
  background: var(--accent-color);
}

.charity__item--img {
  width: 80px;
  height: 80px;
}

.charity__item--subititle {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.25;
}

.charity__item--text {
  font-size: 16px;
  line-height: 1.5;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  background: url("../../images/footer/footer-bg.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info {
  width: 525px;
  height: 405px;
  padding: 40px 30px 55px 75px;
  background: var(--accent-color);
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__text {
  margin-bottom: 69px;
  font-size: 16px;
  line-height: 1.25;
}

.footer__contacts {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__cont {
  padding-left: 120px;
  margin-right: 146px;
}

.footer__subtitle {
  margin-bottom: 30px;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  color: #FFF;
}

.item__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tel__link {
  color: #FFF;
  font-size: 24px;
  line-height: 1.25;
}

.tel__bolt {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.item__mail {
  color: #FFF;
  font-size: 24px;
  line-height: 1.25;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}

.footer__adress {
  margin-right: 130px;
}

.adress__text {
  margin-bottom: 20px;
  color: #FFF;
  font-size: 24px;
  line-height: 1.25;
}

.adress__text--bolt {
  font-weight: 700;
}

.adress__gps {
  color: #FFF;
  font-size: 20px;
  line-height: 1.5%;
}

.adress__gps--link {
  color: #FFF;
  font-size: 20px;
  line-height: 1.5;
  text-decoration-line: underline;
}

.startup__logo--1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44.71px;
  margin-bottom: 23.16px;
}/*# sourceMappingURL=main.css.map */