:root {
  --main-color: black;
  --background-color: #FFFEFB;
  --accent-color: #FFD00E;
  --secondary-accent-color: linear-gradient(134deg, #FFDF00 -7.01%, #FFB800 109.07%);
  /* Fonts */
  --anima-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.best-company, .task, .hero, .header {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 75px;
  padding-right: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  padding: 0;
  margin: 0;
}

button,
a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  border: 0;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../../font/ProximaNova-Regular.eot") format("embedded-opentype"), url("../../font/ProximaNova-Regular.woff2") format("woff2"), url("../../font/ProximaNova-Bold.woff") format("woff"), url("../../font/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../../font/ProximaNova-Semibold.eot") format("embedded-opentype"), url("../../font/ProximaNova-Semibold.woff2") format("woff2"), url("../../font/ProximaNova-Black.woff") format("woff"), url("../../font/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../../font/ProximaNova-Bold.eot") format("embedded-opentype"), url("../../font/ProximaNova-Bold.woff2") format("woff2"), url("../../font/ProximaNova-Bold.woff") format("woff"), url("../../font/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../../font/ProximaNova-Extrabld.eot") format("embedded-opentype"), url("../../font/ProximaNova-Extrabld.woff2") format("woff2"), url("../../font/ProximaNova-Extrabld.woff") format("woff"), url("../../font/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Black.eot");
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("../../font/ProximaNova-Black.eot") format("embedded-opentype"), url("../../font/ProximaNova-Black.woff2") format("woff2"), url("../../font/ProximaNova-Black.woff") format("woff"), url("../../font/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "Proxima Nova", sans-serif;
  background-color: var(--background-color);
  color: var(--main-color);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
body.no-scroll {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 154px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-right: 115px;
}

.nav__item:not(:last-child)::after {
  content: "";
  height: 20px;
  margin-left: 50px;
  border-right: 1px solid;
  opacity: 0.1;
}

.nav__link {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  -webkit-transition: var(--anima-fast);
  transition: var(--anima-fast);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-right: 40px;
}

.social__icon {
  width: 24px;
  height: 24px;
}

.contacts__days {
  font-size: 16px;
  line-height: 1.25;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.25;
}

.contacts__icon {
  width: 24px;
  height: 24px;
}

.hero {
  padding-top: 100px;
  padding-bottom: 47px;
  background-image: url("../../images/hero/Group.svg"), url("../../images/hero/hero-circle-big.svg"), url("../../images/hero/Vector.svg"), url("../../images/hero/hero-circle-small-2.svg"), url("../../images/hero/hero-circle-small.svg");
  background-repeat: no-repeat;
  background-position: 93% 65%, 0% 3.86%, 100% 53%, 1094px 513px, 61.98% 3.86%;
}

.hero__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.hero__title {
  margin-bottom: 20px;
  font-size: 90px;
  font-weight: 900;
  line-height: 1.1;
}

.hero__button {
  display: inline-block;
  margin-bottom: 211px;
  border-radius: 5px;
  background: var(--secondary-accent-color);
  margin-top: 40px;
  padding: 20px 82px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}

.hero__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  margin-bottom: 7px;
}

.circle {
  width: 16px;
  height: 16px;
  opacity: 0.2;
  border-radius: 50%;
  border: 1px solid;
}

.circle-accent {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.hero__more {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
}

.hero__arrow {
  margin: 0 auto;
  margin-top: 16px;
  width: 18px;
  height: 28px;
}

.task {
  padding-top: 100px;
  padding-bottom: 100px;
}

.task__title {
  margin-bottom: 50px;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.25;
}

.task__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.task__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  font-size: 20px;
  line-height: 1.5;
}

.task__text--bolt {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.best-company {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--secondary-accent-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.best-company__title {
  margin-bottom: 50px;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.25;
}

.best-company__text {
  width: 870px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 28.5px;
  font-size: 20px;
  line-height: 1.5;
}

.best-company__text--bolt {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.25;
}

.best-company__text--semibolt {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.best-company__img {
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */