// @font-face {
//     font-family: 'Proxima Nova';
//     src: url('ProximaNova-Regular.eot');
//     src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
//         url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
//         url('../../font/ProximaNova-Regular.woff2') format('woff2'),
//         url('ProximaNova-Regular.woff') format('woff'),
//         url('ProximaNova-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Proxima Nova';
//     src: url('ProximaNova-Semibold.eot');
//     src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
//         url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
//         url('ProximaNova-Semibold.woff2') format('woff2'),
//         url('ProximaNova-Semibold.woff') format('woff'),
//         url('ProximaNova-Semibold.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Proxima Nova';
//     src: url('ProximaNova-Bold.eot');
//     src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
//         url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
//         url('ProximaNova-Bold.woff2') format('woff2'),
//         url('ProximaNova-Bold.woff') format('woff'),
//         url('ProximaNova-Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Proxima Nova';
//     src: url('ProximaNova-Extrabld.eot');
//     src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
//         url('ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
//         url('ProximaNova-Extrabld.woff2') format('woff2'),
//         url('ProximaNova-Extrabld.woff') format('woff'),
//         url('ProximaNova-Extrabld.ttf') format('truetype');
//     font-weight: 800;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Proxima Nova';
//     src: url('ProximaNova-Black.eot');
//     src: local('Proxima Nova Black'), local('ProximaNova-Black'),
//         url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
//         url('ProximaNova-Black.woff2') format('woff2'),
//         url('ProximaNova-Black.woff') format('woff'),
//         url('ProximaNova-Black.ttf') format('truetype');
//     font-weight: 900;
//     font-style: normal;
// }

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font-family: 'Proxima Nova', sans-serif;
    background-color: var(--background-color);
    color: var(--main-color);
    font-size: 18px;

    &.no-scroll {
        overflow: hidden;
    }

}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    width: 1920px;
    padding-left: 75px;
    padding-right: 75px;
    margin-left: auto;
    margin-right: auto;
}