html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font-family: 'Proxima Nova', sans-serif;
    background-color: var(--background-color);
    color: var(--main-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    &.no-scroll {
        overflow: hidden;
    }

}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    
}

