.we {
    @extend %container;

    padding-top: 100px;
      
}

.we__wrapper {
    position: relative;
    margin-bottom: 50px;
}

.we__title {
    margin-bottom: 50px;
    font-size: 44px;
    font-weight: 800;
    line-height: 1.25;
}

.we__item {
    display: flex;
    gap:20px;
}

.item__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;

}
.item-left__wrapper {
    text-align: left;

}
.item-rigth__wrapper {
    text-align: right;
}
.item__text{
    font-size: 16px;
    line-height: 1.25;
}

.text__bolt{
    font-weight: 700;
}

.img__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--secondary-accent-color);
}

.item__img {
    margin: auto;
}

.we__block--1 {
    margin-bottom: 61px;
    display: grid;
    grid-template-columns: 605px 605px;
    gap: 257px;
    justify-content: center;
}

.we__block--2 {
    margin-bottom: 51px;
    display: grid;
    grid-template-columns: 605px 605px;
    gap: 523px;
    justify-content: center;
}

.we__block--3 {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: 605px 605px;
    gap: 589px;
    justify-content: center;
}

.we__block--4 {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 605px 605px;
    gap: 523px;
    justify-content: center;
}

.we__block--5 {
    display: grid;
    grid-template-columns: 605px 605px;
    gap: 258px;
    justify-content: center;
}


