.contacts__days {
    font-size: 16px;
    line-height: 1.25;
}

.contacts__phone {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.25;
}

.contacts__icon {
    width: 24px;
    height: 24px;
}