.header {
    @extend %container;

    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items:center;
    // justify-content: space-between; 
}

.header__logo {
    margin-right: 154px;
}