.hero {
    @extend %container;
    padding-top: 100px;
    padding-bottom: 47px;
    background-image: url('../../images/hero/Group.svg'), 
        url('../../images/hero/hero-circle-big.svg'), 
        url("../../images/hero/Vector.svg"),
        url('../../images/hero/hero-circle-small-2.svg'),
        url('../../images/hero/hero-circle-small.svg');
    background-repeat: no-repeat;
    background-position: 93% 65%, 0% 3.86%,  100% 53%,  1094px 513px, 61.98% 3.86%;
    // background-size: ;

}

.hero__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.hero__title {
    margin-bottom: 20px;
    font-size: 90px;
    font-weight: 900;
    line-height: 1.10;
}
.hero__button {
    display: inline-block;
    margin-bottom: 211px;
    border-radius: 5px;
    background:var(--secondary-accent-color);
    margin-top: 40px;
    padding: 20px 82px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
}

.hero__circle {
    display: flex;
    gap: 17px;
    margin-bottom: 7px;
}

.circle {
        width: 16px;
        height: 16px;
        opacity: 0.2;
        border-radius: 50%;
        border: 1px solid;
}

.circle-accent {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.hero__more{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.25;
 
}

.hero__arrow {
    margin: 0 auto;
    margin-top: 16px;
    width: 18px;
    height: 28px;
}

