.hero {
    @extend %container;
    padding-top: 100px;
    // background-image: url("../../images/Vector.svg");
    // background-size:auto;

}

.hero__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.hero__title {
    margin-bottom: 20px;
    font-size: 90px;
    font-weight: 900;
    line-height: 1.10;
}
.hero__button {
    display: inline-block;
    border-radius: 5px;
    background:var(--secondary-accent-color);
    margin-top: 40px;
    padding: 20px 82px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
}