.nav__list {
    display: flex;
    gap: 100px;
}

.nav__item:not(:last-child)::after {
    content: '';
    height: 20px;
    margin-left: 50px;
    border-right: 1px solid;
    opacity: 0.1;
}

.nav__link {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    transition: var(--anima-fast);

    &:hover,
    &:focus {
        color: var(--accent-color)
    }
}