.swiper .swiper-slide {
    width: auto;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    display: none;
}

.swiper .swiper-button-prev {
    position: absolute;
    width: 56px;
    height: 53px;

}

.swiper .swiper-button-next {
    width: 56px;
    height: 53px;
}

